<header [class.hide]="isHidden">
    <div class="header-left">
        <h3>Arthur Pires da Costa</h3>
    </div>

    <div class="header-right">
        <nav aria-label="Navegação principal">
            <h4><a href="#home">Home</a></h4>
            <h4><a href="#sobre">Sobre Mim</a></h4>
        </nav>

        <div class="disciplinas-dropdown" aria-haspopup="true">
            <h4>4° ano</h4>
            <div class="disciplinas-dropdown-content" role="menu">
                <a href="#grade">Projeto Integrador</a>
                <a href="#grade">Banco de Dados</a>
                <a href="#grade">Estrutura de Dados</a>
                <a href="#grade">Engenharia de Software</a>
                <a href="#grade">Integração Humano Computador</a>
                <a href="#grade">Técnicas Avançadas de Programação</a>
                <a href="#grade">Técnicas Avançadas de Programação Web e Mobile</a>
                <a href="#grade">Inteligência Corporativa e Modelos de Negócios</a>
                <a href="#grade">Gestão Ágil de Projetos de Software</a>
                <a href="#grade">Organização de Computadores e Sistemas</a>
                <a href="#grade">Organização de Computadores e Sistemas Operacionais</a>
                <a href="#grade">Língua Inglesa</a>
                <a href="#grade">Matemática Discreta</a>
            </div>
        </div>

        <div class="social-icons">
            <a href="https://github.com/Parys-boop" target="_blank" rel="noopener noreferrer">
                <img src="/images/GitHubLogo.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/arthur-pires-948433252/" target="_blank" rel="noopener noreferrer">
                <img src="/images/linkedinLogo.png" alt="LinkedIn">
            </a>
        </div>
    </div>
</header>
